:root {
--color1:#03071e;
--color1-1:#03071e22;
--color1-2:#03071eee;
--color2: #370617;
--color3: #6a040f;
--color4: #9d0208;
--color5: #d00000;
--color6: #dc2f02;
--color7: #e85d04;
--color8: #f48c06;
--color8-1: #f48c0644;
--color9: #faa307;
--color10: #ffba08;
--color11: #0582ca;
--color11-1: #0582ca77;
}

*{
  margin:0;
  padding:0;
}